@charset "UTF-8";

aside>ul>li:not(:first-child):after {
    content: "";
    position: absolute;
    display: block;
    border-top: 1px #666 solid;
    border-right: 1px #666 solid;
    transform: rotate(45deg);
    width: 7px;
    height: 7px;
    top: 20px;
    left: 210px;
}

aside>ul>li:not(:first-child):hover:after {
    content: "";
    position: absolute;
    border-top: 1px #fff solid;
    border-right: 1px #fff solid;
    width: 7px;
    height: 7px;
    transform: rotate(135deg);
    top: 20px;
    left: 210px;
}