
h4 {
	font: bold 14px "Roboto Slab", serif;
	margin-top: 0;
}

.shadow:after {
	content: "";
	display: block;
	height: 8px;
	background: linear-gradient(to bottom, rgba(31,31,86,0.1) 0%,rgba(31,31,86,0) 100%);
}


.Contacts div  {
	font-size: 14px;
	vertical-align: top;
}

.Contacts ._tel {
	font: bold 18px/30px Arial, sans-serif;
}

.office p:last-child {
	text-decoration: underline;
}

.Contacts  div {
	display: inline-block;
	width: 25%;
	min-width: 160px;
}

.Contacts:after {
	content: "";
	display: block;
	height: 2px;
	background: #f6f6f9;
	margin-top: 20px;
}
.map-back {
	padding: 35px 0;
}

.map {
	width: 49%;
	display: inline-block;

}

iframe {
	border: none;
	width: 100%;
	height: 300px;
}

input, label, textarea {

	box-sizing: border-box;
}

.name, .phone, .subject, textarea {
	border: solid 1px #c5c5d4;
	border-radius: 2px;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 10px;
	font: italic 13px Arial, sans-serif;
}


.back {
	float: right;
	width: 49%;

}
.name {
	width: 49%;
}

.phone {
	float: right;
	width: 49%;
}
.subject, textarea {
	width: 100%;
}

textarea {
	height: 110px;
	padding-top: 15px;
}

.office, .consult {
	padding: 0 7% 10px 0;
}

.Contacts .rekvizit {
	width: 25%;
	padding-left: 4%;
}

.submit, .news {
	display: block;
	float: left;
}
.news {

	width: 56%;
	font: normal 13px Arial, sans-serif;
	color: #666666;
	border: none;
	padding-left: 0;
	text-align: right;

}

.submit {
	background: none;
	border: solid 2px #fd8300;
	padding: 8px 25px;
	border-radius: 20px;
	font: bold 14px Arial, sans-serif;
	margin-right: 3%;
}

.submit:hover {
	background-color: #fd8300;
	color: #fff;
}
/*940,690,575*/
@media screen and (max-width: 960px) {
	.news {
		float: right;
		width: 50%;
	}
}

@media screen and (max-width: 690px) {
	.Contacts div{
		width: 20%;
	}
	.office, .consult {
		padding: 0 4% 10px 0;
	}

	.Contacts .rekvizit {
		width: 30%;
		padding-left: 0;
	}
	.map, .back {
		width: 100%;
		display: block;
	}

}

@media screen and (max-width: 400px) {
	.Contacts div, .Contacts .rekvizit, h3 {
		padding-left: 22%;
	}
	.news {
		width: 47%;
		text-align: center;
	}
}



