
h4 {
	font: bold 14px "Roboto Slab", serif;
	margin-top: 0;
}

.shadow:after {
	content: "";
	display: block;
	height: 8px;
	background: linear-gradient(to bottom, rgba(31,31,86,0.1) 0%,rgba(31,31,86,0) 100%);
}

.Contacts {
	padding-bottom: 25px;
}

.Contacts div  {
	font-size: 14px;
	vertical-align: top;
}

.Contacts ._tel {
	font: bold 18px/30px Arial, sans-serif;
}


.Contacts  div {
	display: inline-block;
	width: 25%;
	min-width: 160px;
}

.Contacts .rekvizit {
	width: 35%;
	padding-left: 10%;
}



.map {
	width: 49%;
	display: inline-block;

}

iframe {
	border: none;
	width: 100%;
	height: 300px;
}

input, label, textarea {

	box-sizing: border-box;
}

.name, .phone, .subject, textarea {
	border: solid 1px #c5c5d4;
	border-radius: 2px;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 10px;
	font: italic 13px Arial, sans-serif;
}

.back {
	float: right;
	width: 49%;

}
.name {
	width: 49%;
}

.phone {
	float: right;
	width: 49%;
}
.subject, textarea {
	width: 100%;
}

textarea {
	height: 100px;
	padding-top: 15px;
}

.office, .consult {
	padding: 0 10px 10px 0;
}

.submit {

}
/*940,690,575*/


@media screen and (max-width: 1125px) {
	.Contacts .rekvizit {
		width: 30%;
		padding-left: 0;
	}

}




